<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>Sample Servlet</description>
		<display-name>SampleExtServlet</display-name>
		<servlet-name>SampleExtServlet</servlet-name>
		<servlet-class>br.com.silvaesouza.sampleext.server.SampleExtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SampleExtServlet</servlet-name>
		<url-pattern>/sampleext</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>personService</servlet-name>
		<servlet-class>br.com.silvaesouza.sampleext.server.PersonApplicationImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>personService</servlet-name>
		<url-pattern>/sampleext/personController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>plantService</servlet-name>
		<servlet-class>br.com.silvaesouza.sampleext.server.PlantServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>plantService</servlet-name>
		<url-pattern>/sampleext/plantService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>formExampleService</servlet-name>
		<servlet-class>br.com.silvaesouza.sampleext.server.FormExampleServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>formExampleService</servlet-name>
		<url-pattern>/sampleext/formExampleService</url-pattern>
	</servlet-mapping>
</web-app>